extends ../partials/_layout

block content
  section#agenda
    .container
      nav.navbar-mobile
        a.back-top(href='#agenda')
          i.fa.fa-arrow-up
      .container(style="padding-top:20px; background-color: #222")
        .row
          .col-md-12.date
            - var day = 0;
            each rooms, index in agenda
              - day = day + 1;
              if (day == 1)
                input(type='radio' name='agenda-toggle' id=('day-'+day) value=('day-'+day) checked)
              else
                input(type='radio' name='agenda-toggle' id=('day-'+day) value=('day-'+day))
              label(for='day-'+day) #{index}
            
            -  day = 0;
            each room, index in rooms
              - day = day + 1;
              .row.rooms(class=('day-'+day))
                each roomContents, roomIndex in room
                  if (day == 1)
                    .col-md-12.note-outer
                      a.note(href='https://hackmd.io/@JSDC-tw/2019' target="_blank") 2019 JSDC 共筆：https://hackmd.io/@JSDC-tw/2019
                    .col-md-12
                      h3.title-date 10/26
                      h3.title-date JavaScript 穩定之後，然後呢？
                    .col-md-2
                    .col-md-5.room-title
                      h2 A
                    .col-md-5.room-title
                      h2 C
                  else 
                    .col-md-12
                      h3.title-date 9/28
                      h3.title-date JavaScript 新技術的入門與導入
                    .col-md-12
                      h2 #{roomContents}
         
            - day = 0;
            each rooms, index in agenda
              - day = day + 1;
              ul.timeline(class=('day-'+day))
                each agendaContents, agendaIndex in rooms
                  li.event(data-date=agendaContents.time)
                    .col-md-2.time
                      if (agendaContents.time)
                        h5 #{agendaContents.time}
                    .col-md-10
                      each content, contentIndex in agendaContents.list
                        if (contentIndex === 'all')
                          .col-md-12
                            if (content.name)
                              h3 #{content.name}
                        else
                          if Object.keys(agendaContents.list).length===2
                            .col-md-6
                              span.room(data-room=(contentIndex==101?"A":"C") class='room-'+contentIndex)
                              if (content.speaker)
                                - var info = speakers[content.speaker];
                                  h3 #{info.name}
                                  .tag-groups
                                    if (languages[info.agenda.lang])
                                      span.label.event-lang #{languages[info.agenda.lang]}
                                    if (info.agenda.slide)
                                      a.label.label-info(target="_blank" href=info.agenda.slide) Slide
                                    if (info.agenda.slidetwo)
                                      a.label.label-info(target="_blank" href=info.agenda.slidetwo) Slide
                                    if (info.agenda.youtube)
                                      a.label.label-danger(target="_blank" href=info.agenda.youtube) Youtube
                                    each value in info.agenda.levels
                                      span.event-level(data-level=agendaLevel[value] class=value)

                                    h4.agenda-topic(style="cursor:pointer;" onclick="agendaDetail('"+index+"',"+agendaIndex+","+contentIndex+")")
                                      | #{info.agenda.title}
                                      if (info.agenda.title2)
                                        br
                                        | #{info.agenda.title2}
                              else if (content.name)
                                h3 #{content.name}
                              else
                                h3(style="border-bottom:none;") TBD
                                h4
                          else
                            .col-md-12
                              span.room(data-room="A" class='room-'+contentIndex)
                              if (content.speaker)
                                - var info = speakers[content.speaker];
                                  h3 #{info.name}
                                  .tag-groups
                                    if (languages[info.agenda.lang])
                                      span.label.event-lang #{languages[info.agenda.lang]}
                                    if (info.agenda.slide)
                                      a.label.label-info(target="_blank" href=info.agenda.slide) Slide
                                    if (info.agenda.youtube)
                                      a.label.label-danger(target="_blank" href=info.agenda.youtube) Youtube
                                    each value in info.agenda.levels
                                      span.event-level(data-level=agendaLevel[value] class=value)

                                    h4.agenda-topic(style="cursor:pointer;" onclick="agendaDetail('"+index+"',"+agendaIndex+","+contentIndex+")")
                                      | #{info.agenda.title}
                                      if (info.agenda.title2)
                                        br
                                        | #{info.agenda.title2}
                              else if (content.name)
                                h3 #{content.name}
                              else
                                h3(style="border-bottom:none;") TBD
                                h4
                                  | ---
          .info-desc 若遇不可抗拒因素或其他未盡事宜，主辦單位保留活動議程及講師更動之權利。​                       

  script.
    var agendaData = !{JSON.stringify(agenda)};
    var speakerData = !{JSON.stringify(speakers)};

block css
  link(rel='stylesheet', href='./css/timeline/timeline.css')
  link(rel='stylesheet', href='./css/sweetalert2/sweetalert2.css')

block js
  script(src='./js/sweetalert2.min.js')
  script(src='./js/agenda.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js')
  script.
    setTimeout(function(){
      document.querySelectorAll('#navbar ul li')[4].classList.add('active');
    }, 0);
